.App {
  text-align: center;
  min-height: 100vh;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

iframe {
  width: 90vw;
  height: 55vh;
}

.App-header {
  padding-top: 2vh;
  padding-bottom: 4vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.events {
  padding-bottom: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.game-url {
  display: flex;
  gap: 10px;
  padding: 20px;
}

.vol-switch {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.event-paper {
  padding: 5px;
  width: 220px;
  overflow-wrap: break-word;
}

.event-paper-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}